html{
    height:100%;
    min-width:1080px;
    min-height:600px;
}
body{
    background-color:#eef4f9;
    font-family:HarmonyOS_Sans_SC;
    color:#414141;
    transition:all 0.5s cubic-bezier(0,1,0,1);

    position:relative;
    top:100%;
    overflow:auto;
    overflow-y:scroll;
    height:99%;
}
#leftBlock{
    /* 左区块 */
    background-color:white;
    text-align:center;

    float:left;
    margin-left:1%;
    width:33%;
    height:99%;
    min-width:330px;
    box-shadow:10px 10px 50px #bebebe93;
    border-radius:10px;
}
#rightBlock{
    /* 右区块 */
    background-color:white;
    overflow:hidden;

    text-align: center;
    float:left;
    margin-left:1%;
    width:64%;
    height:99%;
    min-width:660px;
    box-shadow:10px 10px 50px #bebebe93;
    border-radius:10px;
}
#rightBlock img{
    border: white solid 5px;
    border-radius:20px;
    display:inline-block;
}
#backHome{
    /* 返回键 */
    font-size:20px;
    border-radius:10px 10px 0 0;
    padding:20px 0 20px 30px;
    transition:all 0.2s ease 0s;

    width:calc(100% - 30px);
    float: left;
    text-align:left;
}
#backHome:hover{
    cursor:pointer;
    background-color:#f5f6f7;
}
#appIcoBox{
     /* 软件图标盒子 */
    background-color:#f5f6f7;
    border-radius:10px;

    display:inline-block;
    margin-top:30%;
    width:120px;
    height:120px;
}
#appIco{
    /* 软件图标 */
    display:inline-block;
    margin-top:15%;
    width:70%;
}
#author{
    /* 作者 */
    color:#005fba;
    margin-top:0;
}
#appName{
    /* 软件名称 */
    margin-bottom:0;
}
#downloadButton{
    /* 下载键 */
    background-color:#005fba;
    color:white;
    border-radius:10px;
    transition:all 0.2s ease 0s;

    display:inline-block;
    width:150px;
    height:35px;
}
#downloadButton:hover{
    cursor:pointer;
    background-color:#004e98;
}
#downloadButton p{
    /* 下载键的文字 */
    margin:8px 0 0 0;
    font-size:14px;
}
#screenshot{
    /* 屏幕截图文字 */
    font-size:20px;
    border-radius:10px 10px 0 0;
    border-bottom:#dbdfe3 solid 5px;

    text-align:left;
    padding:20px 0 20px 30px;
    width:calc(100% - 30px);
    float:left;
    margin:0 0 15px 0;
}
#rightImgBox{
    /* 屏幕截图图像盒子 */
    overflow:auto;

    height:86%;
    display: inline-block;
}
#rightImgBox img{
    width:80%
}